/*
 * This file is provided for application-specific style rules.
 *
 * By default, Maqetta includes this CSS file within HTML pages
 * authored in Maqetta.
 *
 * This file is typically used to override style rules found in
 * theme CSS files. For example, suppose the theme CSS file has:
 *
 * .claro .dijitButton .dijitButtonNode {
 *		padding:2px 4px 4px 4px;
 * }
 *
 * But for your application suppose you want to tighten the padding
 * for buttons. Then, you might include the following style rule
 * in this file (assuming that you accept Maqetta's default where
 * id "myapp" is present on the BODY element, and assuming
 * that you are using the "claro" theme):
 *
 * #myapp.claro .dijitButton .dijitButtonNode {
 *		padding:1px 3px 3px 3px;
 * }
 *
 * Because of CSS precedence rules (see [1]), the above style rule
 * (which begins with #myapp.claro) will "win the cascade" versus 
 * the style rule from the theme CSS file due to the use of the
 * ID select (#myapp), which has higher specificity than the class
 * selectors used throughout the Claro theme.
 *
 * [1] http://www.w3.org/TR/CSS21/cascade.html#cascade
 */
html,body {
	height: 100%;
	width: 100%;
}

.objetoembed {
	width: 600px;
	max-width: 100%;
}


.claro .globalWidget .dijitTabContainerDefault {
}
.claro .dijitTabContainerTop-tabs .dijitTabInnerDiv, .claro .dijitTabContainerTop-tabs .dijitTabContent {
    border-radius : 5px 5px 0px 0px;
    -moz-border-radius : 5px 5px 0px 0px;
    -webkit-border-top-left-radius : 5px;
    -webkit-border-top-right-radius : 5px;
}
.claro .dijitCalendar {
    border : solid 1px #b5bcc6;
    border-radius : 5px;
    -moz-border-radius : 5px;
    background-image : -webkit-gradient(linear, left top, left bottom, to(rgba(255, 255, 255, 0)), color-stop(0px, #ffffff), color-stop(20px, rgba(255, 255, 255, 0.4)));
    background-image : -o-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0.4) 20px, rgba(255, 255, 255, 0));
    background-image : -ms-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0.4) 20px, rgba(255, 255, 255, 0));
    background-image : -moz-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0.4) 20px, rgba(255, 255, 255, 0));
    background-image : -webkit-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0.4) 20px, rgba(255, 255, 255, 0));
    background-image : linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0.4) 20px, rgba(255, 255, 255, 0));
}
.claro .dijitButton .dijitButtonNode, .claro .dijitDropDownButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode, .claro .dijitToggleButton .dijitButtonNode {
}
.claro .dijitDialogTitleBar {
}
.claro .globalWidget .dijitTabActive {
  border-color: #759dc0; background-color: #7dbdfa; color: #000000;
    background-image : url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmZTdmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MzkzYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
}
.claro .dijitTabActive {
    background-color : #d3dbdb;
}
.claro .dijitAccordionInnerContainerActive {
    background-color : #d3dbdb;
}
.claro .dijitSplitterHActive, .claro .dijitSplitterVActive {
    background-color : #d3dbdb;
}
.claro .dijitButtonActive .dijitButtonNode, .claro .dijitDropDownButtonActive .dijitButtonNode, .claro .dijitComboButtonActive .dijitButtonNode, .claro .dijitToggleButtonActive .dijitButtonNode, .claro .dijitToggleButtonChecked .dijitButtonNode {
    background-color : #d3dbdb;
}
.claro .dijitTitlePaneTitleActive {
    background-color : #d3dbdb;
}
.claro .dijitToolbar .dijitButtonActive .dijitButtonNode, .claro .dijitToolbar .dijitDropDownButtonActive .dijitButtonNode, .claro .dijitToolbar .dijitToggleButtonActive .dijitButtonNode {
    background-color : #d3dbdb;
}
.claro .globalWidget .dijitTabChecked {
    background-color : #e1eeee;
}
.claro .dijitTabChecked {
    background-color : #e1eeee;
}
.claro .globalWidget .dijitTabHover {
    background-color : #f0f0f0;
}
.claro .dijitTabHover {
    background-color : #f0f0f0;
}
.claro .dijitButtonHover .dijitButtonNode, .claro .dijitDropDownButtonHover .dijitButtonNode, .claro .dijitComboButton .dijitButtonNodeHover, .claro .dijitComboButton .dijitDownArrowButtonHover, .claro .dijitToggleButtonHover .dijitButtonNode {
    background-color : #f0f0f0;
}
.claro .dijitAccordionInnerContainerHover, .claro .dijitAccordionInnerContainerSelectedActive {
    background-color : #f0f0f0;
}
.claro .dijitAccordionInnerContainerSelectedHover .dijitAccordionChildWrapper, .claro .dijitAccordionInnerContainerSelectedActive .dijitAccordionChildWrapper {
    background-color : #f0f0f0;
}
.claro .dijitTitlePaneTitleHover {
    background-color : #f0f0f0;
}
.claro .dijitToolbar .dijitButtonHover .dijitButtonNode, .claro .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode, .claro .dijitToolbar .dijitToggleButtonHover .dijitButtonNode, .claro .dijitToolbar .dijitComboButtonHover .dijitButtonNode {
    background-color : #f0f0f0;
}
.claro .dijitSplitterHHover, .claro .dijitSplitterVHover {
    background-color : #f0f0f0;
}
.claro .dijitSelectMenu .dijitMenuItemHover td, .claro .dijitSelectMenu .dijitMenuItemSelected td, .claro .dijitMenuItemHover, .claro .dijitMenuItemSelected {
    background-color : #f0f0f0;
}
.claro .dijitAccordionInnerContainerSelected {
    background-color : #fbfbfb;
}
.claro .dijitSelect, .claro .dijitTextBox {
    background-color : #ffffff;
}
.claro .dijitTextBoxFocused {
    background-color : #ffffff;
}
.claro .dijitTextBoxHover {
    background-color : #ffffff;
}
.claro .dijitCalendarPreviousMonth .dijitCalendarDateLabel, .claro .dijitCalendarNextMonth .dijitCalendarDateLabel {
    background-color : #ffffff;
}
.claro .dijitCalendarSelectedDate .dijitCalendarDateLabel {
    background-color : #ffffff;
}
.claro .dijitCalendarHoveredDate .dijitCalendarDateLabel, .claro .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
    background-color : #e6eaea;
}
.claro .dijitTooltipContainer {
    border-radius : 10px;
    -moz-border-radius : 10px;
}
.claro .dijitMenuTable {
}
.claro .dijitContentPane {
    padding : 5px;
}
.claro .dijitToolbar {
    border-radius : 5px;
    -moz-border-radius : 5px;
    background-repeat : no-repeat;
}
.claro .dijitCalendarMonthLabel {
}
.claro .dijitCalendar .dijitDropDownButton .dijitButtonNode {
}

 
