/*
 * This file is provided for application-specific style rules.
 *
 * By default, Maqetta includes this CSS file within HTML pages
 * authored in Maqetta.
 *
 * This file is typically used to override style rules found in
 * theme CSS files. For example, suppose the theme CSS file has:
 *
 * .claro .dijitButton .dijitButtonNode {
 *		padding:2px 4px 4px 4px;
 * }
 *
 * But for your application suppose you want to tighten the padding
 * for buttons. Then, you might include the following style rule
 * in this file (assuming that you accept Maqetta's default where
 * id "myapp" is present on the BODY element, and assuming
 * that you are using the "claro" theme):
 *
 * #myapp.claro .dijitButton .dijitButtonNode {
 *		padding:1px 3px 3px 3px;
 * }
 *
 * Because of CSS precedence rules (see [1]), the above style rule
 * (which begins with #myapp.claro) will "win the cascade" versus 
 * the style rule from the theme CSS file due to the use of the
 * ID select (#myapp), which has higher specificity than the class
 * selectors used throughout the Claro theme.
 *
 * [1] http://www.w3.org/TR/CSS21/cascade.html#cascade
 */
html,body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.BorderContainerFullSize {
    width: 100%;
    height: 100%;
}

.FullSize{
width: 100%; height: 100%;
}

.usms_notification_urgency_general {
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.levelbg0{background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);}
.levelbg1{background: linear-gradient(to right, rgba(255,25,25,1) 0%,rgba(125,185,232,0) 100%);}
.levelbg2{background: linear-gradient(to right, rgba(255,64,13,1) 0%,rgba(125,185,232,0) 100%);}
.levelbg3{background: linear-gradient(to right, rgba(255,128,26,1) 0%,rgba(125,185,232,0) 100%);}
.levelbg4{background: linear-gradient(to right, rgba(255,191,38,1) 0%,rgba(125,185,232,0) 100%);}
.levelbg5{background: linear-gradient(to right, rgba(255,255,51,1) 0%,rgba(125,185,232,0) 100%);}
.levelbg6{background: linear-gradient(to right, rgba(191,230,38,1) 0%,rgba(125,185,232,0) 100%);}
.levelbg7{background: linear-gradient(to right, rgba(128,204,26,1) 0%,rgba(125,185,232,0) 100%);}
.levelbg8{background: linear-gradient(to right, rgba(64,179,13,1) 0%,rgba(125,185,232,0) 100%); }
.levelbg9{background: linear-gradient(to right, rgba(64,179,64,1) 0%,rgba(125,185,232,0) 100%);}
.levelbg10{background: linear-gradient(to right, rgba(128,204,128,1) 0%,rgba(125,185,232,0) 100%);}

.levelb0{border-style:solid; border-color: rgb(255,255,255); border-width:1px;}
.levelb1{border-style:solid; border-color: rgb(255,25,25); border-width:1px;}
.levelb2{border-style:solid; border-color: rgb(255,64,13); border-width:1px;}
.levelb3{border-style:solid; border-color: rgb(255,128,26); border-width:1px;}
.levelb4{border-style:solid; border-color: rgb(255,191,38); border-width:1px;}
.levelb5{border-style:solid; border-color: rgb(255,255,51); border-width:1px;}
.levelb6{border-style:solid; border-color: rgb(191,230,38); border-width:1px;}
.levelb7{border-style:solid; border-color: rgb(128,204,26); border-width:1px;}
.levelb8{border-style:solid; border-color: rgb(64,179,13); border-width:1px;}
.levelb9{border-style:solid; border-color: rgb(64,179,64); border-width:1px;}
.levelb10{border-style:solid; border-color: rgb(128,204,128); border-width:1px;}

